body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0%;
}
/* секция header*/

.header{
    padding-bottom: 65px;
}
.conteiner{
    width: 960px;
    margin: 0 auto;
}

.header-info{
    height: 550px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    }

.conteiner-for-road{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.header-image{
    width: 100%;
    height: 675px;
    background: url(../img/Header/BackgroundHeader.png) no-repeat center top / cover;
}
    
.header-title{
    font-size: 21px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px;
    
}
.header-info-title{
    color: #b7b7b7;
    font-size: 23px;
    text-transform: uppercase;
    font-weight:600;
    margin: 0%;
}
.header-info-subtitle{
    color: white;
    font-size: 63px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin: 0%;
}
.header-info-below{
    color: #7f818f;
    margin: 0;
    width: 535px;
    margin: 0%;
}


/* секция Gallery*/
.gallery{
    padding-bottom: 70px;
}
.gallery-text{
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
}
.gallery-title{
    font-size: 30px;
    font-weight: 200;
    margin: 0%;
    padding-right: 64px;
}
.gallery-information{
    color: #9b9b9b;
    margin: 0%;
    padding-right: 250px;
}
.gallery-pic{
  
    display: grid;
    grid-template-columns: 300px 180px 220px;
    grid-template-rows: 100px 102px 63px 110px 132px;
    padding-right: 20px;
    
}
.tower-pic{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.forest-pic{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.ocean-pic{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
}
.big-ocean-pic{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}
.mountains-pic{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.forest-light-pic{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery-pic-main{
    display: flex;
}
.gallery-road-pic{
    position: absolute;
    display: flex;
    padding-top: 609px;
}
/* gallery*/

.conteiner-banner{
    width: 620px;
    margin: 0 auto;
    height: 326px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-background{
    width: 100%;
    margin: 0;
}
.banner-background{
    width: 100%;
    height: 326px;
    background: url(../img/Banner/BannerPicMountains.png) no-repeat center top / cover;
}
.banner-title{
    
    color: white;
    font-size: 23px;
    font-weight: 200;
    padding: 5px;
    border: 1px solid white;

}

.banner-subtitle{
    color: white;
    font-size: 13px;
    margin: 0;
    line-height: 25px;
    font-weight: 200;
    text-align: center;
}

/* statistics*/

.conteiner-statistics{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics-title{
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: 200;
}

.statistics-quastion{
    font-size: 30px;
    font-weight: 200;
    margin: 0%;
    padding-bottom: 10px;
}
.statistics-subtitle{
    font-weight: 200;
    margin: 0%;
    font-size: 12px;
    padding-bottom: 40px;
    line-height: 20px;

}
.statistics-numbers-wrapper{
    display: flex;
    justify-content: space-around;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}
.numbers{
    margin: 0%;
    text-align: center;
}
.numbers-info{
    margin: 0%;
    font-size: 15px;

}
.statistics-numbers{
    margin: 0%;
    font-size: 28px;
    font-weight: 500;
}

/* footer*/

.footer-background{
    width: 100%;
    height:845px;
    background: url(../img/Footer/FooterBackground.png) no-repeat center top / cover;
}

.footer-video{
    margin: 0 auto;
}

.footer-text-title{
   
    height: 170px; ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-title{
    color: white;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}
.footer-video{
    width: 620px;
}
.video-wrapper{
    display: flex;
    justify-content: center;
    
}
.footer-video{
    box-shadow: black;
}